:root {
  --primary-color: #3E2723;
  --secondary-color: #FFCC80;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Libre Caslon Text', sans-serif;
  line-height: 1.4;
  background: #fff;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-secondary {
  background: var(--secondary-color);
  color: #333;
}

.btn {
  padding: 20px;
  border-radius: 5px;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  opacity: 0.8;
  transition: .5s all ease-in;
}

.navbar img {
  width: 30px;
}

.navbar .logo {
  flex: 1;
  font-weight: 400;
}

.navbar a {
  display: inline-flex;
  align-items: center;
}

.menu {
  flex: 1;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul a {
  position: relative;
  display: inline-flex;
  padding-bottom: 5px;
  transition: .5s border-bottom ease;
}

.menu ul a::after {
  content: '';
  position: absolute;
  width: 100%;
  margin-top: 2rem;
  height: 2px;
  background: #ccc;
  transform: scaleX(0);
  transition: .5s all ease;
}

.menu ul a:hover::after {
  transform: scaleX(1);
}

/* Header */
header .container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../img/background.jpg') no-repeat center center/cover;
  color: #fff;
}

.hero {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  z-index: 10;
}

.scroll-down {
  padding-bottom: 1.5rem;
  text-align: center;
}

header .container::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

header h1 {
  font-size: 3rem;
}

header * {
  z-index: 30;
}

header a,
header .arrow-anim {
  color: #fff;
  text-decoration: none;
  transition: .5s all ease;
}

header a:hover {
  color: #ccc;
}

header a:hover .arrow-anim {
  color: #ccc;
  transform: translateY(10px);
}

/* About Button */
.about-btn {
  position: relative;
}

.about-btn label {
  cursor: pointer;
}

.about-btn .about-toggle {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* Search Button */
.search-btn {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}

.search-box {
  margin-right: 25px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  outline: none;
  visibility: hidden;
  transform: scaleY(0);
  transition: .3s all .5s ease;
}

.search-icon {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  transition: .5s all ease;
}

.search-toggle {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  z-index: 99;
  opacity: 0;
}

.search-toggle:hover,
.search:hover {
  cursor: pointer;
  color: #ccc;
}

.search-toggle:checked ~ .search-icon {
  transform: translateX(-220px);
}

.search-toggle:checked ~ .search-box {
  transform: scaleY(1);
  visibility: visible;
}

.search-toggle:checked {
  display: none;
}

.search-toggle:not(:checked) ~ .search-icon {
  transition-delay: .3s;
}

.search-toggle:not(:checked) ~ .search-box {
  transition-delay: 0s;
}

/* Recipes Section */

.recipes {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.l-heading {
  text-align: center;
  margin: 3rem 0 2rem;
}

.l-heading h1 {
  font-size: 2rem;
}

/* Flex Container */
.flex-container {
  position: relative;
  margin: .5rem 0;
  transition: .5s all ease-in;
  height: 300px;
}

.flex-container .row {
  height: 300px;
  display: flex;
  justify-content: center;
}

.flex-container .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-container .column .column-1,
.flex-container .column .column-2 {
  height: 100%;
}

.flex-container .column .column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.flex-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-container.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-container.flex-reverse .row .column-2 {
  align-items: flex-end;
}

.flex-container h2 {
  font-weight: 100;
}

.flex-container .rating {
  margin-top: 1rem;
  font-size: 20px;
}

.flex-container .description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 5rem;
  height: 100%;
  color: #fff;
  z-index: 20;
  opacity: 0;
}

.flex-container.flex-reverse .description {
  color: #333;
}

.flex-container .description h2 {
  margin-bottom: 2rem;
}

.flex-container .description p {
  margin-bottom: 1rem;
}

/* Flex Container Anim */
.flex-container::after {
  cursor: pointer;
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: var(--primary-color);
  transition: .5s all ease;
}

.flex-container.flex-reverse::after {
  left: 0;
  background: var(--secondary-color);
}

.flex-container:hover::after {
  cursor: pointer;
  width: 100%;
}

.flex-container .description:hover {
  animation: description 1s ease-in 0.5s forwards;
}

/* Favorite */
.box-container {
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2rem 1rem;
}

.box {
  margin: 0 1rem;
  flex: 1;
  display: flex;
  height: inherit;
  flex-direction: column;
  /* justify-content: center; */
  border: 1px #ccc solid;
  padding: 1rem;
  background: #fff;
  box-shadow: 1px 1px 3px #333;
  transition: .3s all ease;
}

.box img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.box:hover {
  cursor: pointer;
  transform: scale(1.005);
}

.for-more {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #ccc solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 2rem;
  box-shadow: 1px 1px 5px #ccc;
  margin-bottom: 10px;
  transition: .5s all ease-in;
}

.for-more h5 {
  opacity: 0;
  transition: .5s all ease;
}

.more-btn:hover {
  cursor: pointer;
  transform: translateX(5px);
}

.more-btn:hover + h5 {
  opacity: 1;
}

.for-more a {
  color: #333;
}

/* Browse Page */
.menu ul a.active::after {
  transform: scaleX(1);
}

header .container.browse {
  height: 50vh;
  background: url('../img/background.jpg') no-repeat center center/cover;
}

.browse-recipe {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.browse-recipe .box {
  margin: 0;
}

/* About */
.about {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about > div {
  background-color: var(--primary-color);
  display: flex;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  transform: scale(0) translateY(-1000vh);
  transition: all .5s ease;
  border-radius: 50%;
}

.about > div > div {
  width: 100vw;
  height: 100vh;
}

.about.show {
  visibility: visible;
}

.about.show > div {
  transform: scale(.5) translateY(0);
}

.about.show.scale > div {
  transform: scale(1) translateY(0);
}

.about-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
}

.about-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.about a {
  color: #fff;
  text-decoration: none;
}

.about-us {
  flex: 2;
  margin-bottom: 2rem;
}

.about .information {
  display: flex;
  align-items: center;
  justify-content: center;
}

.information .location {
  flex: 2;
}

.information .contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

/* Recipes */
.recipes-main {
  max-width: 1100px;
  height: 100%;
  margin: 50px auto 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overview .recipe-info {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.recipe-info .recipe-info-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .8rem;
  margin: 0 1rem;
}

.recipe-info .recipe-info-details .author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.recipe-info .recipe-info-details .author a {
  color: #333;
  margin-bottom: 5px;
}

.recipe-info .recipe-info-details .author a:hover {
  color: #acacac;
}

.images {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.images .main-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.images .sub-images {
  display: flex;
  width: 500px;
  justify-content: center;
  gap: 10px;
}

.images .sub-images img {
  flex: 1;
  width: calc(33.33% - 10px);
  max-height: auto;
}

.details {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  width: 500px;
  justify-content: center;
  border: 3px solid #ccc;
  border-top: 0px;
  padding: 2rem;
  position: relative;
}

.details::before {
  content: '';
  position: absolute;
  top: -5px;
  background: var(--primary-color);
  width: 100%;
  border: 3px solid var(--primary-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 10px;
}

.details > div {
  flex: 1;
}

.how-to {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
}

.column {
  flex: 1;
  flex-basis: 100%;
}

/* Review */
.review {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes-rate {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipes-rate .rate {
  width: 100%;
  height: 100%;
  position: relative;
  color: #333;
}

.recipes-rate .rate .rates {
  display: flex;
  position: absolute;
  left: -32px;
  z-index: 2;
}

.recipes-rate .rate .rates.fill {
  opacity: 0;
  z-index: 0;
  transition: .3s all ease;
}

.recipes-rate .rates.empty:hover {
  opacity: 0;
}

.recipes-rate .rates.empty:hover + .rates.fill {
  opacity: 1;
  color: #FFCC80;
}

/* Comment */
.comments {
  width: 100%;
  margin-top: 2rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.comment {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.comment .user-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
}

.comments img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25%;
}

.comment .comment-box {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 2px solid #ccc;
  margin-bottom: 1rem;
  border-radius: 20px;
  padding: 1rem 0;
}

.comment .comment-box > textarea {
  width: 100%;
  height: 200px;
  padding: 1rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  resize: none;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  transition: .5s all ease;
}

.btn:hover{
  cursor: pointer;
}

/* Comment Section */
.comments-section {
  width: 100%;
  margin-top: 1rem;
}

.comments-section .comment {
  display: flex;
  flex-direction: column;
}

.comments-section .user-comment-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
}

.comments-section .user-comment-icon img {
  width: 100px;
}

.user-comment-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1rem;
}

.user-comment-icon .rating {
  flex: 1;
  text-align: right;
}

.user-comment {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-comment a {
  color: #333;
}

.user-comment .reaction {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.user-comment .thumbs-reaction {
  display: flex;
}

.user-comment .thumbs-reaction > div {
  padding: 3px 10px;
  display: flex;
  border: 2px solid transparent;
  align-items: center;
}

.user-comment .thumbs-reaction > div:hover {
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.user-comment .thumbs-reaction p {
  margin: 0 10px;
}

.user-comment .thumbs-reaction .down > i {
  transform: scaleX(-1);
}

/* Footer */
.main-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 180px;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #fff;
}

.main-footer a {
  text-decoration: none;
  color: #fff;
}

.main-footer a:hover {
  color: var(--secondary-color);
}

.main-footer .social-media {
  display: flex;
  padding: 2rem 0;
  width: 200px;
  justify-content: space-between;
}

.rating {
  font-size: 10px;
  margin-bottom: 10px;
}

@keyframes description {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}